extends layout.pug


block variables
  - const pageTitle = 'Acueil'

block script
    script(src='/socket.io/socket.io.js' defer)
    script(src='/js/chat-client.js' defer )

block content
    h1 Bienvenue sur le chat #{pseudo}

    #chat-app
      .chat-users
        h2 Utilisateurs connectés
        ul


      .chatbox-area
        .chatbox-message
          .notification
          .message
            .msg-date
            .msg-user
            .msg-message

        form(action="/chat" method="get"  class="chatbox-form")
          input(type="text" name="message" placeholder='Votre message(Entrer pour valider)')